extends ../layouts/master.pug

block title
  title My Page - Blog

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(rel='manifest', href='../manifest.json')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  section.start
    img(src=require("images/bg-01.png")).start__bg
    .start__sportmen
      img(src=require("images/start-01.png"))
    .start__title
      img(src=require("images/title-banner.svg")).start__title-img
      .start__title-text
        h1 Фитнес-клуб
        p в центре Белгорода
        a(href="#").btn.btn-primary записаться
        a(href="#").btn-video
          .btn-video-bg
            img(src=require("images/icons/icon-play.svg"))
    .start__numbers
      .start__numbers-item
        p.start__numbers-num 9
        p.start__numbers-text!="направлений<br>групповых<br>тренировок"
      .start__numbers-item
        p.start__numbers-num 15
        p.start__numbers-text!="профессиональных<br>высококлассных<br>тренеров"
      .start__numbers-item
        p.start__numbers-num 100
        p.start__numbers-text!="бесплатных<br>парковочных<br>мест"
      .start__numbers-item
        p.start__numbers-num 300
        p.start__numbers-text!="новых<br>современных<br>тренажеров"
      .start__numbers-item
        p.start__numbers-num 1000
        p.start__numbers-text!="кв. м<br>общая площадь<br>клуба"
  section.photo
    .photo__title
      .container
        .row
          .col-12
            h2 Фотографии и видео клуба
            p!="Клуб открыт в 2021 году и оснащен всем необходимым оборудованием<br> для комфортных занятий. Вам точно у нас понравится!"
    .photo__slider
      .swiper.photo__swiper
        .swiper-wrapper
          .swiper-slide.photo__slide
            img(src=require("images/photo-01.png"))
            .container
              p кардио зона
          .swiper-slide.photo__slide
            img(src=require("images/photo-01.png"))
            .container
              p кардио зона
          .swiper-slide.photo__slide
            img(src=require("images/photo-01.png"))
            .container
              p кардио зона
        .container.position-relative
          .photo__slider-nav
            .photo__slider-prev.slider-prev
            .photo__slider-next.slider-next
  section.popular
    .container
      .row
        .col-12
          .popular__box
            .popular__header
              .popular__title
                .popular__num 6
                h2!="В нашем клубе предоставлено <span>популярных направлений</span>"
              .popular__dec
                p Узнайте подробнее о каждом из них.
            .popular__slider-btn
              .popular__slider-prev.slider-prev
              .popular__slider-next.slider-next
    .popular__items
      .container-fluid.popular__container
        .row.popular__row
          .popular__slider.swiper
            .swiper-wrapper
              +popular-item(require("images/popular-01.png"), "кроссфит")
              +popular-item(require("images/popular-01.png"), "Хатха йога")
              +popular-item(require("images/popular-01.png"), "functional")
              +popular-item(require("images/popular-01.png"), "Единоборства")
              +popular-item(require("images/popular-01.png"), "Персональные тренировки")
              +popular-item(require("images/popular-01.png"), "Здоровая спина")
              +popular-item(require("images/popular-01.png"), "full body")
              +popular-item(require("images/popular-01.png"), "Стретчинг")
              +popular-item(require("images/popular-01.png"), "Body pump")
  section.subscription
    .container
      .row
        .col-12
          h2.subscription__title!="У нас очень приятные цены<br> на покупку абонементов"
          p.subscription__dec Выберите подходящий и оплатите онлайн
      .row
        .subscription__tabs.tab
          +tap-item("Дневной", "Безлимит1")
          +tap-item("Дневной", "Безлимит2")
          +tap-item("Дневной", "Безлимит3", true)
          +tap-item("Дневной", "Безлимит4")
          +tap-item("Дневной", "Безлимит5")
          +tap-item("Дневной", "Безлимит6")
  section.schedule
    .container
      .row
        .col-12
          .schedule__title
            h2 Расписание
            p Мы ждем вас еженевно Пн-Пт с 07:00 до 23:00; Сб-Вс с 09:00 до 21:00.
            p Актуальное расписание групповых занятий представлено на сайте.
          .schedule__table
            table.table
              thead
                tr
                  th(scope="col") понедельник
                  th(scope="col") вторник
                  th(scope="col") среда
                  th(scope="col") четверг
                  th(scope="col") пятница
                  th(scope="col") суббота
                  th(scope="col") воскресенье
              tbody
                tr
                  td.schedule__td.schedule__td--2F80ED
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--9B51E0
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--27AE60
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--B30936
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--E6ADBC
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--F2994A
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td
                    .schedule__td-lesson Выходной
                tr
                  td.schedule__td.schedule__td--2F80ED
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--9B51E0
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--27AE60
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--B30936
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--E6ADBC
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--F2994A
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                tr
                  td.schedule__td.schedule__td--2F80ED
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--9B51E0
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--27AE60
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--B30936
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
                  td.schedule__td.schedule__td--E6ADBC
                    .schedule__td-time 18:00
                    .schedule__td-lesson Стретчинг
                    .schedule__td-teach Валерия
          .schedule__call
            img(src=require("images/phone.png")).schedule__phone
            form.form.offset-6
              h2 Заказать звонок
              .row
                .col-12.col-md-6
                  .form__input-group
                    .form__input-icon
                      img(src=require("images/icons/icon-name.svg"))
                    input(placeholder="Ваше имя").form__input
                .col-12.col-md-6
                  .form__input-group
                    .form__input-icon
                      img(src=require("images/icons/icon-phone.svg"))
                    input(placeholder="+7 (___) ___-__-__").form__input.js-phone-mask
                .col-12.col-md-6
                  .form__input-group.form__input-group--checkbox
                    input(type="checkbox" id="defaultCheck1")
                    label(for="defaultCheck1")!="Даю согласие на обработку<br> персональных данных"
                .col-12.col-md-6
                  button.btn.btn-primary Перезвоните мне
  section.stock
    .container
      .row
        .col-12
          .stock__head
            .stock__title
              h2 Акции
              p!="Самые выгодные предложения для занятий в нашем<br>фитнес-клубе. Успейте воспользоваться!"
            .stock__slider-btn
              .stock__slider-prev.slider-prev
              .stock__slider-next.slider-next
        .col-12
          .stock__swiper.swiper
            .swiper-wrapper
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
              .swiper-slide
                a(href="#").stock__item
                  img(src=require("images/stock01.png"))
  section.trainer
    .container
      .row
        .trainer__box
          .trainer__head
            h2 Марафон преображения
            p Интенсивная работа над собой за 4 недели.
          .trainer__fact
            +fact-item(require("images/fact/fact01.png"), "Персональные тренировки")
            +fact-item(require("images/fact/fact02.png"), "Работа с психологом")
            +fact-item(require("images/fact/fact03.png"), "Диетолог")
            +fact-item(require("images/fact/fact04.png"), "Массаж")
            +fact-item(require("images/fact/fact05.png"), "Растяжка ")
          .trainer__footer
            .trainer__price
              span Стоимость
              p 9 000
                small ₽
            .trainer__date
              span Старт
              p 1 июля 2020г.
            a(href="#").btn.btn-primary подробнее
      .row
        .trainer__head-two
          h2 Тренеры
          p В фитнес-клубе Gold Gym собран один из лучших тренерских составов в Белгороде
      .row.trainer__box-two
        +trainer-item
        +trainer-item
        +trainer-item
        +trainer-item
        +trainer-item
        +trainer-item
        +trainer-item
        +trainer-item
  section.contact
    .container
      .row
        .contact__head
          .contact__adress
            h2!="г.Белгород,<br> пр.Славы, 112"
          .contact__connection
            p.contact__connection-phone 8 915 566 28 27
            .contact__buttons
              a(href="#").btn.btn-primary заказать звонок
              .contact__socials
                a(href="#")
                  img(src=require("images/icons/icon-vk.svg")).contact__social
                a(href="#")
                  img(src=require("images/icons/icon-wa.svg")).contact__social
                a(href="#")
                  img(src=require("images/icons/icon-tg.svg")).contact__social
                a(href="#")
                  img(src=require("images/icons/icon-vb.svg")).contact__social
          .contact__days
            p Пн-Пт с 07:00 до 23:00
            p Сб-Вс с 09:00 до 21:00
      .row
        .contact__map#map
          img(src=require("images/conact-img.png")).contact__img
