header.header
  .header__logo
    img(src=require("images/logo-header.png"))
  .header__adress
    span Расположение клуба
    .header__icon-box
      img(src=require("images/flag.svg"))
      p Белгород, пр. Славы 112
  .header__menu
    a(href="#servise").header__menu-item Услуги
    a(href="#price").header__menu-item Цены
    a(href="#date").header__menu-item Расписание
    a(href="#promo").header__menu-item Акции
    a(href="#trainer").header__menu-item Тренеры
    a(href="#contact").header__menu-item Контакты
  .header__social
    a(href="#")
      img(src=require("images/header/vk.png"))
    a(href="#")
      img(src=require("images/header/wa.png"))
    a(href="#")
      img(src=require("images/header/tg.png"))
    a(href="#")
      img(src=require("images/header/vb.png"))
  .header__phone
    span Есть вопросы?
    .header__icon-box
      img(src=require("images/phones.svg"))
      p
        a(href="tel:89155662827") 8 915 566 28 27
  .header__button
    a(href="#").btn.btn-transparent заказать звонок
  .header__burger
    span
    span
    span
nav.header-mobile
  .header__adress
    span Расположение клуба
    .header__icon-box
      img(src=require("images/flag.svg"))
      p Белгород, пр. Славы 112
  .header__phone
    span Есть вопросы?
    .header__icon-box
      img(src=require("images/phones.svg"))
      p 8 915 566 28 27
  .header__menu
    a(href="#").header__menu-item Услуги
    a(href="#").header__menu-item Цены
    a(href="#").header__menu-item Расписание
    a(href="#").header__menu-item Акции
    a(href="#").header__menu-item Тренеры
    a(href="#").header__menu-item Контакты
  .header__social
    a(href="#")
      img(src=require("images/header/vk.png"))
    a(href="#")
      img(src=require("images/header/wa.png"))
    a(href="#")
      img(src=require("images/header/tg.png"))
    a(href="#")
      img(src=require("images/header/vb.png"))
  .header__button
    a(href="#").btn.btn-transparent заказать звонок
